
    body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #777;
    color: #777;
    font-size: 18px;

}
    header, nav , footer {
    background-color: #ebebeb;
    padding: 30px;
    margin: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #777;

}
    h1 {
    font-size: 18px;
    color: #777;
    text-align: center;
    padding: 30px;
    background-color: #ebebeb;
    font-weight: normal

}
    .row {
    height: 300px;
    

}
    .column {
    margin: 10px 0 10px 0px;
    float: left;
    
}
    .left { 
    height: 100%;
    margin: 10px;
    background-color: #ebebeb;
    width: 490px;
  
}
    .right {
    height: 100%;
    background-color: #ebebeb;
    width: 439px;
    
}
    .article {
    background-color: #777;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
    #article-box {
    padding: 9px 9px 9px 9px;
    background: #777;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: #ebebeb;
   
}
    article #article {
    position: relative;
    width: 300px;
    height: 200px;
    bottom: 10px;
    margin: auto;


}
    section {
    color: #777;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
    #article {
    text-align: center;
}
    #articleOne {
    height: 10px;
    width: 90px;
}
    p {
    background: #ebebeb;
    padding: 10px;
}
    #articleTwo {
        
}
    footer {
    content: "";
    position: relative;
    clear: both;
}